<div class="container">

  <div *ngFor="let apuesta of apuestasList">

    <div class="card text-center mt-4">
      <div class="card-header">
        [{{apuesta.id}} / {{apuesta.fechaEvento}}] - {{apuesta.encuentro}} ({{apuesta.apuesta}})
      </div>
      <div class="card-body">
        <p class="card-text">
          Tipster: {{apuesta.tipster.descripcion}} |
          Stake: {{apuesta.stake}} |
          Cantidad apostada: {{apuesta.cantidadApostada}}
        </p>
        <button
          class="btn btn-success me-2"
          (click)="actualizarEstadoApuesta(apuesta.id,2)"
        >
          Ganada
        </button>
        <button
          class="btn btn-danger me-2"
          (click)="actualizarEstadoApuesta(apuesta.id,3)"
        >
          Perdida
        </button>
        <button
          class="btn btn-secondary me-2"
          (click)="actualizarEstadoApuesta(apuesta.id,4)"
        >
         Push
        </button>
      </div>
    </div>

  </div>

</div>
